@import '../../../styles/mixins.scss';

.activity {
  width: 33%;
  height: fit-content;
  border: 2px solid #EBEAED;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 15px 28px 83px 26px;

  &__length {
    @include centerVertical
  }

  &__lengthTitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #1E0E62;
    margin-right: 9px;
  }

  &__lengthNumber {
    background: #EAEAEA;
    border-radius: 7px;
    margin-top: 2px;
    padding: 11px 15px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #E93A7D;
  }

  &__links {
    margin-left: 3px;
    li {
      list-style-type: none;
      position: relative;

      &::before {
        content: url('../../../assets/images/listPage/Activity/arrow.svg');
      }
    }
  }

  &__itemLink {
    margin-left: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 31px;
    color: rgba(21, 20, 57, 0.4);
    text-decoration: none;
  }

  &__search {
    font-size: 18px;
    margin-top: 12px;
  }
}
