.formChangePassword {
  position: absolute;
  top: 346px;
  left: 36.7%;
  color: #fff;
  &__title {
    font-weight: bold;
    font-size: 26px;
    line-height: 39px;
    margin-bottom: -40px;
  }

  &__contentWrapper {
    width: 309px;
    overflow: hidden;
  }

  &__content {
    display: flex;
    align-items: center;
    transition: transform 1s;
  }

  &__item {
    width: 100%;
    margin-right: 3px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__description {
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 30px;
  }

  &__submit {
    color: #fff;
    height: 57px;
    width: 100%;
    background-color: #0575E6;
    font-size: 14px;
    line-height: 21px;
    border-radius: 30px;
    border: none;

    &_disabled {
      color: #464544;
      background-color: #7d7f7d;
      pointer-events: none;
      cursor: default;
    }
  }
}
