.button {
  box-sizing: border-box;
  border-radius: 100px;
  padding: 12px 23px;
  border: none;
  outline: none;
  text-decoration: none;
  font-size: 20px;

  &__link {
    display: block;
    text-align: center;
  }
}
