.profile {
  width: 100%;
  margin-bottom: 216px;

  &__input {
    border: 1px solid #9A9CAD;
    border-radius: 5px;
  }

  &__block {
    width: 100%;
    display: flex;
    margin-bottom: 32px;

    &:nth-child(2) {
      margin-bottom: 40px;
    }

    &:nth-child(3) {
      padding-bottom: 17px;
      border-bottom: 1px solid #D3D3D3;
    }
  }

  &__itemSelect {
    position: relative;
    margin-bottom: 13px;
  }

  &__selectArrow {
    position: absolute;
    right: 0;
    z-index: 20;
    top: 50%;
    transform: translateY(-20%);
  }

  &__addImg {
    color: #9a9cad;
    border: 1px solid #9a9cad;
    background-color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
  }

  &__addDate {
    display: flex;
    align-items: center;
  }

  &__submitForm {
    width: 100%;
    height: 50px;
    background: #25DAC5;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #fff;
    margin-bottom: 19px;
  }

  &__nameInput {
    width: 570px;
    height: 43.53px;
    &::placeholder {
      color:#9A9CAD;
      opacity: 0.4;
      transform: translateX(20px);
    }
  }

  &__contentInput {
    width: 570px;
    height: 80px;
    resize: none;

    &::placeholder {
      opacity: 0.4;
      color: #9a9cad;
      overflow: initial;
      transform: translateX(20px);
    }
  }

  &__dateInput {
    width: 125.74px;
    height: 26px;
    margin-right: 5px;
    background: #AEB0C22B;
  }

  &__blockTitle {
    width: 184px;
    margin-left: 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #9A9CAD;
  }
}
