@import '../../styles/index.scss';

.profileMenu {
  display: flex;
  flex-direction: column;


    &__item {
      width: 372px;
      padding: 18px 0 21px;
      border: none;
      border-top: 2px solid #EBEAED;
      background-color: transparent;
      text-align: left;
      font-size: 18px;
      line-height: 20px;
      color: #fff;
      text-decoration: none;

      &:last-of-type {
        border-bottom: 2px solid #EBEAED;
      }
    }
}
