@import '../../../styles/index.scss';

.banner {
  margin-left: $navbarWidth;
  height: auto;
  position: relative;

  &__image  {
    width: 100%;
    height: 100%;
  }

  &__image img {
    width: 100%;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
  }

  &__textWrapper {
    margin-top: -7px;
    margin-left: 8px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  &__text,
  &__pageTitle {
    color: #FFFFFF;
  }

  &__text {  
    text-align: center;    
    
    h1 {
      font-weight: bold;
      font-size: 4.5em;
      line-height: 0.8em;
      text-transform: uppercase;
    }

    span {
      font-weight: 500;
      font-size: 1.2em;
      line-height: 3.3em;
    }
  }

  &__pageTitle {
    text-align: center;
    margin-top: 2.5%;
    font-weight: normal;
    font-size: 3.1em;
    line-height: 0.5em;
  }
}